@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

:root{
    --cor0: #012030;
    --cor1: #13678A;
    --cor2: #45C4B0;
    --cor3: #9AEBA3;
    --cor4: #DAFDBA;
    --fonte0:'Titillium Web', sans-serif;
    --fonte1: sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header{
    font-family: var(--fonte0);
    background-color: var(--cor0);
    height: 60px;
    text-align: center;
    line-height: 2em;
    border-radius: 8px;
    text-shadow: 2px 2px 0px rgb(23, 87, 93);
}

body{
    font-family: var(--fonte1);
    color: var(--cor4);
    background-color: var(--cor0);
}

h1.just{
    text-align: justify;
    text-shadow: 2px 2px 0px rgb(25, 93, 99);
}

h2{
    text-align: justify;
    text-shadow: 2px 2px 0px rgb(25, 93, 99);
}

nav{
    background-color: var(--cor3);
    border-radius: 5px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: var(--cor4);
    margin: 127px;
    color: var(--cor0);
}

a:visited{
    color: var(--cor1);
}

main{
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    color: var(--cor4);
}

p.branco{
    color: white;
    line-height: 2em;
    text-align: justify;
}

img{
    min-width: 400px;
    max-width: 800px;
    display: block;
    margin: auto;
}   

div.video{
    position: relative;
    background-color: #012030;
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

ul{
    list-style-type: '\2714\0020\0020';
    columns: 1;
    list-style-position: inside;
    color: white;
}

a.lista{
    text-decoration: none;
    color: white;
}

a.lista:visited{
    color: var(--cor4);
}